
.Ccalculadora {
    background-color:rgba(235, 235, 235, 0.918);
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #0f0e0e; 
    margin:0 auto;
    margin-top:2%;
    padding: 10px;
    
}
h1{
    text-align:center;
    color:rgb(255, 255, 255);
		font: bold 3Rem/1 'trebuchet MS', Arial, Helvetica;/*tipo deletra*/
		
}
p{
    text-align:center;
    font: bold 1Rem/5 'trebuchet MS', Arial, Helvetica;/*tipo deletra*/
    color:rgb(255, 255, 255);
}

.Ccalculadora td button {
    margin:0 auto;
    display: block;
    
    
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.sig{
    background-color: rgb(97, 90, 90);
    width: 100px;
    height: 50px;
}
.num  {
    background-color: rgb(10, 10, 10);
    width: 100px;
    height: 50px;
}
.operand{
    background-color: rgb(97, 90, 90);
     width: 70px;
     height: 50px;
}
.result{
    background-color: rgb(33, 67, 216);
   height: 110px; 
   width: 70px;
    
}
.del{background-color: rgb(54, 218, 33);
    width: 100px;
    height: 50px;
}

.operand:hover {
    background-color:red;
}
.sig:hover {
    background-color:red;
}
.num:hover {
    background-color:rgb(230, 228, 238);
    color:rgb(10, 10, 10);
}
.result:hover{
    background-color:rgb(59, 163, 233);
}

#pantallaprincipal {
    display: block;
    font: bold 4Rem/1 'trebuchet MS', Arial, Helvetica;/*tipo deletra*/
    background-color: rgb(255, 255, 255);
    text-align: right;
    margin-bottom: auto;
    list-style: height 80px;
    width: 410px;
    height: 75px;
    color: black;
    overflow-y: scroll;
   
}
#subpantalla {
    display: block;
    background-color: rgb(255, 255, 255);
    font: bold 1.1Rem/1.2 'trebuchet MS', Arial, Helvetica;/*tipo deletra*/
    text-align: center;
    padding: 0px -20px;
    width: 410px;
    height: 20px;
   
}
